@use "../../partials/module";
@import "../../partials/palette";
.container {
    margin: 30px;
    margin-top: 0px;
    @extend %border;

    color: $primaryTextColor;
    background-color: $darkBackgroundColor;
}
