@import "./partials/palette";
@import "./partials/module";
.container {
    text-align: center;
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);

    &__session {
        display: flex;
        justify-content: center;
        align-content: center;
        flex-direction: column;
    }
}

h2 {
    text-decoration: overline;
    color: $primaryTextColor;
}
h3 {
    text-decoration: overline;
    color: $primaryTextColor;
}
p {
    cursor: default;
    color: $primaryTextColor;
}
