@import url("https://fonts.googleapis.com/css2?family=Caveat&family=Oleo+Script+Swash+Caps&family=Pacifico&display=swap");

$primaryColor: black;
$secondaryColor: black;
$decalColor: rgb(255, 237, 189);

$primaryBackgroundColor: #282c34;
$secondaryBackgroundColor: rgb(65, 75, 94);
$darkBackgroundColor: #101318;

$primaryTextColor: white;
$secondaryTextColor: rgb(48, 48, 48);

$primaryTextFont: Arial, Helvetica, sans-serif;
$secondaryTextFont: "Pacifico", cursive;
